force-app/main/default/flows/General_QA_Screens_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>AdditionalDogAssignment</name>
        <label>AdditionalDogAssignment</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>AdditionalDogInfo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Additional_Dog_Location_Information</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Change_my_address_QA</name>
        <label>Change my address QA</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>What_is_the_assessment_number_A</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>What_is_the_assessment_debtor_number_s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Do_you_have_multiple_properties_A</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Do_you_have_multiple_properties</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Property_address_is_this_change_for_A</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Property_address_is_this_change_for</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Change_of_address_for_all_properties_A</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Change_of_address_for_all_properties</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Property_owner_s_this_request_relates_to_A</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Property_owner_s_this_request_relates_to</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>What_is_the_new_mailing_address_A</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>What_is_the_new_mailing_address</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Date_of_birth_A</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_of_birth</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Parking_Abandoned_QA</name>
        <label>Parking Abandoned QA</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Where_in_detail_is_the_vehicle_located_A</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Where_in_detail_is_the_vehicle_located</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Description_of_the_vehicle_A</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description_of_the_vehicle</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>What_is_the_registration_number2_A</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>What_is_the_registration_number2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>How_long_has_the_vehicle_been_there_A</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>How_long_has_the_vehicle_been_there</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Have_you_phoned_advised_the_police_A</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Have_you_phoned_advised_the_police</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <choices>
        <name>AM</name>
        <choiceText>AM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AM</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ashphalt</name>
        <choiceText>Ashphalt</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ashphalt</stringValue>
        </value>
    </choices>
    <choices>
        <name>Both_AM_PM</name>
        <choiceText>Both AM &amp; PM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Both AM &amp; PM</stringValue>
        </value>
    </choices>
    <choices>
        <name>Brick</name>
        <choiceText>Brick</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Brick</stringValue>
        </value>
    </choices>
    <choices>
        <name>Concrete</name>
        <choiceText>Concrete</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Concrete</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Pavement</name>
        <choiceText>Pavement</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pavement</stringValue>
        </value>
    </choices>
    <choices>
        <name>PM</name>
        <choiceText>PM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PM</stringValue>
        </value>
    </choices>
    <choices>
        <name>Rubble</name>
        <choiceText>Rubble</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Rubble</stringValue>
        </value>
    </choices>
    <choices>
        <name>Unknown</name>
        <choiceText>Unknown</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unknown</stringValue>
        </value>
    </choices>
    <choices>
        <name>Unsure</name>
        <choiceText>Unsure</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unsure</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <constants>
        <name>EmptyStringContant</name>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </constants>
    <decisions>
        <name>Question_Screen_Decision</name>
        <label>Question Screen Decision</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Abandoned_Vehicle</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_CFSuite_Request_Flow.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>CJ-Abandoned Vehicle</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Parking_Abandoned_Vehicle</targetReference>
            </connector>
            <label>Abandoned Vehicle</label>
        </rules>
        <rules>
            <name>Change_my_address</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_CFSuite_Request_Flow.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>CJ-Change of Address-Rates</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_my_address_Screen</targetReference>
            </connector>
            <label>Change my address</label>
        </rules>
        <rules>
            <name>Dog_Keeping_Issues</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_CFSuite_Request_Flow.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CJ - Animals - Dog - Keeping Excess Dogs</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Keeping_Excessive_Dogs_Screen</targetReference>
            </connector>
            <label>Dog Keeping Issues</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ICPC</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Preferred_Notification_Cases__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>LineBreakQA</name>
        <dataType>String</dataType>
        <expression>{!LineBreakTextTemplate}</expression>
    </formulas>
    <interviewLabel>General QA Screens Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>General QA Screens Subflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_CFSuite_Request_Flow</name>
        <label>Get CFSuite Request Flow</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Question_Screen_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CFSuiteRequestFlowId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CFSuite_Request_Flow__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Change_my_address_Screen</name>
        <label>Change my address</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Change_my_address_QA</targetReference>
        </connector>
        <fields>
            <name>What_is_the_assessment_debtor_number_s</name>
            <dataType>String</dataType>
            <fieldText>What is the assessment/debtor number/s?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Do_you_have_multiple_properties</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you have multiple properties?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Property_address_is_this_change_for</name>
            <dataType>String</dataType>
            <fieldText>What property address is this change for?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Do_you_have_multiple_properties</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Change_of_address_for_all_properties</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is the change of address for all properties?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Property_owner_s_this_request_relates_to</name>
            <dataType>String</dataType>
            <fieldText>What property owner/s is this request related to?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>What_is_the_new_mailing_address</name>
            <dataType>String</dataType>
            <fieldText>What is the new mailing address?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Date_of_birth</name>
            <dataType>Date</dataType>
            <fieldText>Date of birth</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>caserequestfileupload28</name>
            <extensionName>cfsuite1:caseRequestFileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>myRecordId</name>
                <value>
                    <elementReference>miscRId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Flowquestioncase28</name>
            <extensionName>cfsuite1:FlowQuestionsCaseContactInfo</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>IsAuthenticateUser</name>
                <value>
                    <elementReference>isAutneticatedUser</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>IsPersonAccount</name>
                <value>
                    <elementReference>isPersonAccount</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isGuestUser</name>
                <value>
                    <elementReference>isGuestUser</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SPreferredContact</assignToReference>
                <name>AdviseYourPreferredContact</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>SFname</assignToReference>
                <name>FirstName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>SLName</assignToReference>
                <name>LastName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>SRStreetName</assignToReference>
                <name>ResidentialStreetName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>SRStreetType</assignToReference>
                <name>ResidentialStreetType</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>SEmail</assignToReference>
                <name>SuppliedEmail</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>SMobile</assignToReference>
                <name>SuppliedMobile</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>SPhone</assignToReference>
                <name>SuppliedPhone</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Change_my_address_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Change_my_address_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Keeping_Excessive_Dogs_Screen</name>
        <label>Keeping Excessive Dogs Screen</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AdditionalDogAssignment</targetReference>
        </connector>
        <fields>
            <name>Additional_Dog_Location_Information</name>
            <dataType>String</dataType>
            <fieldText>Additional Dog Location Information</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Parking_Abandoned_Vehicle</name>
        <label>Parking Abandoned Vehicle</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Parking_Abandoned_QA</targetReference>
        </connector>
        <fields>
            <name>Where_in_detail_is_the_vehicle_located</name>
            <fieldText>Where in detail is the vehicle located?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description_of_the_vehicle</name>
            <fieldText>Description of the vehicle</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>What_is_the_registration_number2</name>
            <dataType>String</dataType>
            <fieldText>What is the registration number?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>How_long_has_the_vehicle_been_there</name>
            <dataType>String</dataType>
            <fieldText>How long has the vehicle been there?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Have_you_phoned_advised_the_police</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Have you phoned/advised the police?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>caserequestfileupload6</name>
            <extensionName>cfsuite1:caseRequestFileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>myRecordId</name>
                <value>
                    <elementReference>miscRId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Flowquestioncase6</name>
            <extensionName>cfsuite1:FlowQuestionsCaseContactInfo</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>IsAuthenticateUser</name>
                <value>
                    <elementReference>isAutneticatedUser</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>IsPersonAccount</name>
                <value>
                    <elementReference>isPersonAccount</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isGuestUser</name>
                <value>
                    <elementReference>isGuestUser</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SPreferredContact</assignToReference>
                <name>AdviseYourPreferredContact</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>SFname</assignToReference>
                <name>FirstName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>SLName</assignToReference>
                <name>LastName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>SRStreetName</assignToReference>
                <name>ResidentialStreetName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>SRStreetType</assignToReference>
                <name>ResidentialStreetType</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>SEmail</assignToReference>
                <name>SuppliedEmail</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>SMobile</assignToReference>
                <name>SuppliedMobile</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>SPhone</assignToReference>
                <name>SuppliedPhone</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Parking_Abandoned_Vehicle_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Parking_Abandoned_Vehicle_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_CFSuite_Request_Flow</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>LineBreakTextTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!EmptyStringContant}
{!EmptyStringContant}</text>
    </textTemplates>
    <variables>
        <name>AdditionalDogInfo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Flow will take parameter as &apos;CFSuite Request Flow&apos; record in this variable.</description>
        <name>CFSuiteRequestFlow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CFSuiteRequestFlowId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Change_of_address_for_all_properties_A</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>customerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Date_of_birth_A</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Description_of_the_vehicle_A</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Do_you_have_multiple_properties_A</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Do_you_require_a_copy_of_rates_notice_A</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Has_Copy_of_new_rates_A</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Have_you_phoned_advised_the_police_A</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>How_long_has_the_vehicle_been_there_A</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>isAutneticatedUser</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>isBusinessAccount</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>isGuestUser</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>isPersonAccount</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>miscRId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Property_address_is_this_change_for_A</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Property_owner_s_this_request_relates_to_A</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>QAs</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RequestLocation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SFname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SLName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SMobile</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SPreferredContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SRStreetName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SRStreetType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>What_is_the_assessment_number_A</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>What_is_the_new_mailing_address_A</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>What_is_the_registration_number2_A</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Where_in_detail_is_the_vehicle_located_A</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
