force-app/main/default/flows/General_QA_Flow_Basic.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Case_From_String</name>
        <label>Get Case From String</label>
        <locationX>204</locationX>
        <locationY>2258</locationY>
        <actionName>CommunityFlowCaseController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_Guest_User3</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>insertCase</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectData</name>
            <value>
                <elementReference>caseToMap</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CommunityFlowCaseController</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Insert_Case</name>
        <label>Insert Case</label>
        <locationX>204</locationX>
        <locationY>2666</locationY>
        <actionName>CommunityFlowCaseController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Customer_Case_Id</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>caseRec</name>
            <value>
                <elementReference>Get_Case_From_String.caseRec</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>insertCase</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>CommunityFlowCaseController</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Autneticated_User_True</name>
        <label>Autneticated User True</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>isAutneticatedUser</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Customer_Details_First</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Business_Account_True</name>
        <label>Business Account</label>
        <locationX>50</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>IsBusinessAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>General_QA_Screens_Subflow_Merged</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Community_Case_Details</name>
        <label>Community Case Details</label>
        <locationX>336</locationX>
        <locationY>2474</locationY>
        <assignmentItems>
            <assignToReference>Get_Case_From_String.caseRec.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FinalQAs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case_From_String.caseRec.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Community Portal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SuppliedEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SuppliedEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case_From_String.caseRec.SuppliedPhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Customer_Details.Business_Phone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case_From_String.caseRec.CFSuite_Request_Flow__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_CFSuite_Request_Flow.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case_From_String.caseRec.Residential_Postal_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Customer_Details.Residental_Post_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case_From_String.caseRec.Residential_Street_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Customer_Details_First.Residential_Street_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case_From_String.caseRec.Residential_Street_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Customer_Details_First.Street_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case_From_String.caseRec.Residential_Street_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Customer_Details_First.Residential_Street_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case_From_String.caseRec.Residential_Suburb__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Customer_Details_First.Residental_Suburb__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case_From_String.caseRec.Residential_Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Customer_Details_First.Residential_Unit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case_From_String.caseRec.Last_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Customer_Details_First.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case_From_String.caseRec.First_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Customer_Details_First.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case_From_String.caseRec.SuppliedMobile__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SuppliedMobile</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case_From_String.caseRec.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User_Detail.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case_From_String.caseRec.Advise_Your_Preferred_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case_From_String.caseRec.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User_Detail.Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Customer_Case_Id</name>
        <label>Customer Case Id</label>
        <locationX>204</locationX>
        <locationY>2774</locationY>
        <assignmentItems>
            <assignToReference>CASEID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Insert_Case.caseRec.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Content_Document_Link_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Guest_Case_Details</name>
        <label>Guest Case Details</label>
        <locationX>72</locationX>
        <locationY>2474</locationY>
        <assignmentItems>
            <assignToReference>Get_Case_From_String.caseRec.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FinalQAs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case_From_String.caseRec.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Community Portal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case_From_String.caseRec.CFSuite_Request_Flow__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_CFSuite_Request_Flow.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Is_Guest_True</name>
        <label>Is Guest True</label>
        <locationX>72</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>isGuestUser</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Guest_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Person_Account</name>
        <label>Person Account</label>
        <locationX>314</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>isPersonAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>General_QA_Screens_Subflow_Merged</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Steps_Completed</name>
        <label>Steps Completed</label>
        <locationX>204</locationX>
        <locationY>3506</locationY>
        <assignmentItems>
            <assignToReference>CurrentStep</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Thank_You</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_Type</name>
        <label>Account Type?</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>General_QA_Screens_Subflow_Merged</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Business_Account_First</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Customer_Details_First.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Business</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Business_Account_True</targetReference>
            </connector>
            <label>Business Account</label>
        </rules>
        <rules>
            <name>Customer_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Customer_Details_First.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Person_Account</targetReference>
            </connector>
            <label>Customer Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Autneticated_User</name>
        <label>Is Autneticated User</label>
        <locationX>534</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>General_QA_Screens_Subflow_Merged</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Autneticated_User_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User_Detail.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Autneticated_User_True</targetReference>
            </connector>
            <label>Is Autneticated User True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Business_Account</name>
        <label>Is Business Account</label>
        <locationX>358</locationX>
        <locationY>1766</locationY>
        <defaultConnector>
            <targetReference>Update_Customer_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Business_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Customer_Details.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Business</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Business_Customer_Record</targetReference>
            </connector>
            <label>Business Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Guest_Decision</name>
        <label>Is Guest Decision</label>
        <locationX>204</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Is_Guest_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_Is_Guest</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.ProfileId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00eMn0000000tFp</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Guest_True</targetReference>
            </connector>
            <label>User Is Guest</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Guest_User</name>
        <label>Is Guest User</label>
        <locationX>204</locationX>
        <locationY>434</locationY>
        <defaultConnector>
            <targetReference>Get_User_Detail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Guest_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isGuestUser</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>General_QA_Screens_Subflow_Merged</targetReference>
            </connector>
            <label>Guest User</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Guest_User2</name>
        <label>Is Guest User</label>
        <locationX>204</locationX>
        <locationY>1550</locationY>
        <defaultConnector>
            <targetReference>Get_Customer_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Guest_User2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isGuestUser</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_CFSuite_Request_Flow</targetReference>
            </connector>
            <label>Guest User</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Guest_User3</name>
        <label>Is Guest User</label>
        <locationX>204</locationX>
        <locationY>2366</locationY>
        <defaultConnector>
            <targetReference>Community_Case_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Guest_User3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isGuestUser</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Guest_Case_Details</targetReference>
            </connector>
            <label>Guest User</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>lat_number</name>
        <dataType>Number</dataType>
        <expression> VALUE({!lat_string})</expression>
        <scale>15</scale>
    </formulas>
    <formulas>
        <name>lon_number</name>
        <dataType>Number</dataType>
        <expression>VALUE({!lon_string})</expression>
        <scale>15</scale>
    </formulas>
    <interviewLabel>General_QA_Flow_Basic {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>General_QA_Flow_Basic</label>
    <loops>
        <name>ContentDocumentLinks</name>
        <label>ContentDocumentLinks</label>
        <locationX>204</locationX>
        <locationY>3098</locationY>
        <collectionReference>Get_Content_Document_Link_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Content_Document_Link</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Case_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Content_Document_Link</name>
        <label>Create Content Document Link</label>
        <locationX>292</locationX>
        <locationY>3206</locationY>
        <connector>
            <targetReference>ContentDocumentLinks</targetReference>
        </connector>
        <inputAssignments>
            <field>ContentDocumentId</field>
            <value>
                <elementReference>ContentDocumentLinks.ContentDocumentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkedEntityId</field>
            <value>
                <elementReference>CASEID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShareType</field>
            <value>
                <stringValue>I</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visibility</field>
            <value>
                <stringValue>AllUsers</stringValue>
            </value>
        </inputAssignments>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Case_Record</name>
        <label>Get Case Record</label>
        <locationX>204</locationX>
        <locationY>3398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Steps_Completed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CASEID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CFSuite_Misc_Records</name>
        <label>Get CFSuite Misc Records</label>
        <locationX>204</locationX>
        <locationY>2990</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ContentDocumentLinks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>miscRId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CFSuite_Misc__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CFSuite_Request_Flow</name>
        <label>Get CFSuite Request Flow</label>
        <locationX>204</locationX>
        <locationY>2150</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Case_From_String</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CFSuiteRequestFlowId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CFSuite_Request_Flow__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Content_Document_Link_Records</name>
        <label>Get Content Document Link Records</label>
        <locationX>204</locationX>
        <locationY>2882</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_CFSuite_Misc_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>miscRId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Customer_Details</name>
        <label>Get Customer Details</label>
        <locationX>358</locationX>
        <locationY>1658</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Business_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_User_Detail.Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Customer_Details_First</name>
        <label>Get Customer Details</label>
        <locationX>314</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_User_Detail.Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get community user detail to use while creation of new case.</description>
        <name>Get_User_Detail</name>
        <label>Get User Detail</label>
        <locationX>534</locationX>
        <locationY>542</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Autneticated_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Business_Customer_Record</name>
        <label>Update Business Customer Record</label>
        <locationX>226</locationX>
        <locationY>1874</locationY>
        <connector>
            <targetReference>Get_CFSuite_Request_Flow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Customer_Details.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Business_Email__c</field>
            <value>
                <elementReference>S2Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Mobile__c</field>
            <value>
                <elementReference>S2Mobile</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Phone__c</field>
            <value>
                <elementReference>S2Phone</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Customer_Record</name>
        <label>Update Customer Record</label>
        <locationX>490</locationX>
        <locationY>1874</locationY>
        <connector>
            <targetReference>Get_CFSuite_Request_Flow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Customer_Details.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PersonEmail</field>
            <value>
                <elementReference>S2Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMobilePhone</field>
            <value>
                <elementReference>S2Mobile</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>S2Phone</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Thank_You</name>
        <label>Thank You</label>
        <locationX>204</locationX>
        <locationY>3614</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ThankYouContent</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(27, 27, 27); font-family: &amp;quot;Open Sans&amp;quot;, Arial, sans-serif; font-size: 36px; background-color: rgb(255, 255, 255);&quot;&gt;Thank you&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(64, 64, 64); font-family: &amp;quot;Source Sans Pro&amp;quot;; font-size: 18px; background-color: rgb(255, 255, 255);&quot;&gt;Your request has been submitted. Track the progress of your request by logging into your account. If you have submitted the request as a guest, track the request via the map on the&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;https://enno--ennodemo2.sandbox.my.site.com/cfsuite/s/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(64, 64, 64); font-family: &amp;quot;Source Sans Pro&amp;quot;; font-size: 18px; background-color: rgb(255, 255, 255);&quot;&gt;home&lt;/a&gt;&lt;span style=&quot;color: rgb(64, 64, 64); font-family: &amp;quot;Source Sans Pro&amp;quot;; font-size: 18px; background-color: rgb(255, 255, 255);&quot;&gt;&amp;nbsp;page.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(27, 27, 27); font-family: &amp;quot;Source Sans Pro&amp;quot;; font-size: 18px; background-color: rgb(255, 255, 255);&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(27, 27, 27); font-family: &amp;quot;Source Sans Pro&amp;quot;; font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;                                    &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Request number:&amp;nbsp;&lt;/strong&gt;&lt;a href=&quot;https://enno--ennodemo.sandbox.my.site.com/cfsuite/s/case-details?recordId={!CASEID}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;strong&gt;{!Get_Case_Record.CaseNumber}&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Preferred contact method:&amp;nbsp;&lt;/strong&gt;{!S2PrefferedContact}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;This request will be assessed within:&amp;nbsp;&lt;/strong&gt;{!$Setup.cfsuite1__CFSuiteSettings__c.cfsuite1__Case_Created_No_Days_Text__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>78</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Guest_Decision</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>General_QA_Screens_Subflow_Merged</name>
        <label>General QA Screens Subflow Merged</label>
        <locationX>204</locationX>
        <locationY>1442</locationY>
        <connector>
            <targetReference>Is_Guest_User2</targetReference>
        </connector>
        <flowName>General_QA_Screens_Subflow</flowName>
        <inputAssignments>
            <name>CFSuiteRequestFlow</name>
            <value>
                <elementReference>CFSuiteRequestFlow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CFSuiteRequestFlowId</name>
            <value>
                <elementReference>CFSuiteRequestFlowId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>isAutneticatedUser</name>
            <value>
                <elementReference>isAutneticatedUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>isBusinessAccount</name>
            <value>
                <elementReference>IsBusinessAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>isGuestUser</name>
            <value>
                <elementReference>isGuestUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>isPersonAccount</name>
            <value>
                <elementReference>isPersonAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>miscRId</name>
            <value>
                <elementReference>miscRId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>AdditionalDogInfo</assignToReference>
            <name>AdditionalDogInfo</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Change_of_address_for_all_properties_A</assignToReference>
            <name>Change_of_address_for_all_properties_A</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Date_of_birth_A</assignToReference>
            <name>Date_of_birth_A</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Description_of_the_vehicle_A</assignToReference>
            <name>Description_of_the_vehicle_A</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Do_you_have_multiple_properties_A</assignToReference>
            <name>Do_you_have_multiple_properties_A</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Do_you_require_a_copy_of_rates_notice_A</assignToReference>
            <name>Do_you_require_a_copy_of_rates_notice_A</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Has_Copy_of_new_rates_A</assignToReference>
            <name>Has_Copy_of_new_rates_A</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Have_you_phoned_advised_the_police_A</assignToReference>
            <name>Have_you_phoned_advised_the_police_A</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>How_long_has_the_vehicle_been_there_A</assignToReference>
            <name>How_long_has_the_vehicle_been_there_A</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Property_address_is_this_change_for_A</assignToReference>
            <name>Property_address_is_this_change_for_A</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FinalQAs</assignToReference>
            <name>QAs</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>S2Email</assignToReference>
            <name>SEmail</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>S2Fname</assignToReference>
            <name>SFname</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>S2LName</assignToReference>
            <name>SLName</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>S2Mobile</assignToReference>
            <name>SMobile</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>S2Phone</assignToReference>
            <name>SPhone</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>S2PrefferedContact</assignToReference>
            <name>SPreferredContact</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>S2RStreetName</assignToReference>
            <name>SRStreetName</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>S2RStreetType</assignToReference>
            <name>SRStreetType</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>What_is_the_assessment_debtor_number_s_A</assignToReference>
            <name>What_is_the_assessment_number_A</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>What_is_the_new_mailing_address_A</assignToReference>
            <name>What_is_the_new_mailing_address_A</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>What_is_the_registration_number2_A</assignToReference>
            <name>What_is_the_registration_number2_A</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Where_in_detail_is_the_vehicle_located</assignToReference>
            <name>Where_in_detail_is_the_vehicle_located_A</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>AdditionalDogInfo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CASEID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseToMap</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Flow will take parameter as &apos;CFSuite Request Flow&apos; record in this variable.</description>
        <name>CFSuiteRequestFlow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CFSuiteRequestFlowId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Change_of_address_for_all_properties_A</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrentStep</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Date_of_birth_A</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Description_of_the_vehicle_A</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DisplayAttachment</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Do_you_have_multiple_properties_A</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Do_you_require_a_copy_of_rates_notice_A</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FinalQAs</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Has_Copy_of_new_rates_A</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Have_you_phoned_advised_the_police_A</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>How_long_has_the_vehicle_been_there_A</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isAutneticatedUser</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>IsBusinessAccount</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>isGuestUser</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>isPersonAccount</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>lat_string</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>lon_string</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>miscRId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>parcelNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Property_address_is_this_change_for_A</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Property_owner_s_this_request_relates_to_A</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RequestLocation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>S2Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>S2Fname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>S2LName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>S2Mobile</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>S2Phone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>S2PrefferedContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>S2RStreetName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>S2RStreetType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SuppliedEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SuppliedMobile</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>What_is_the_assessment_debtor_number_s_A</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>What_is_the_new_mailing_address_A</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>What_is_the_registration_number2_A</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Where_in_detail_is_the_vehicle_located</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
