unpackaged/post/load_second/flows/Customer_Insight_Sentiment_Processing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Ask_Sam_for_Sentiment</name>
        <label>Ask Sam for Sentiment</label>
        <locationX>176</locationX>
        <locationY>170</locationY>
        <actionName>CFSuiteIPAGlobal</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Customer_Insights</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>AgentID</name>
            <value>
                <elementReference>$Record.Agent_Id__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>gPTLogLookupField</name>
            <value>
                <elementReference>$Record.Chat_GPT_Lookup_Field__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Object_Id__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userQuery</name>
            <value>
                <elementReference>$Record.User_Query__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>cfsuite1__CFSuiteIPAGlobal</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <description>Add sentiment to Customer Insight record.</description>
    <environments>Default</environments>
    <formulas>
        <name>ConvertedScoretoNumber</name>
        <dataType>Number</dataType>
        <expression>value({!Ask_Sam_for_Sentiment.response})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Customer Insight Sentiment Processing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Customer Insight Sentiment Processing</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Customer_Insights</name>
        <label>Update Customer Insights</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Object_Id__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Score__c</field>
            <value>
                <elementReference>ConvertedScoretoNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sentiment_Score_Required__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>CFSuite_Customer_Insight__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Ask_Sam_for_Sentiment</targetReference>
        </connector>
        <flowRunAsUser>DefaultWorkflowUser</flowRunAsUser>
        <object>AI_Processing__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
</Flow>
